.item{
    border: 1px solid black;
  }
  #flexcontainer5 .item{
    max-width: 70px;
  }
  .huge{
    font-size: 2em;
    font-weight: bold;
  }
  .highlight{
    background-color: #DD0000;
    color: red;
  }
  img{
    vertical-align: middle;
  }

  .topmenu-option{
    background-color: black;
    border-radius: 6px;
    color: #333;
  }

  .topmenu-submenu{
    float:left;
  }
  #topmenu1 {

  }
 